body {
    font-family: 'Lato', sans-serif;
    background-color: #fbebce;
    color: #222222;
    hyphens: auto;
}
div.narrow {
   max-width: 100ch;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #35475E;
    margin-bottom: 20px;
    clear:both;
}

a {
    color: #FA634C;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #F7D469;
}

pre {
    background-color: #35475E;
    padding: 15px;
    border-radius: 5px;
    color: white;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #F7D469;
    padding: 10px 15px;
}

.table th {
    background-color: #35475E;
    color: #E9E9E9;
}

ol {
   list-style-type: none; /* Remove the default numbering */
   counter-reset: item;  /* Initialize a counter named 'item' */
}
ol > li {
   /* Each time this rule applies, the counter is increased */
   counter-increment: item; 
}
ol > li::before {
   /* Use the counter as a lowercase letter, and wrap it in parentheses */
   content: "(" counter(item, lower-alpha) ") "; 
}
.banner {
   width: 100%;
   margin-top: -35px;
}
.tagline {
   text-align:center;
   font-style:italic;
   display: none;
}
.float-image {
  width: 90%;
  margin: 0 auto 10px auto;
  text-align:center;
}

@media (min-width: 768px) {
  .float-image {
      width: 50%;
      float:right;
  }
  .tagline {
     display:block;
  }
}
ol {
   padding-left: 0;
}
.result-image {
   border: 5px solid #35475E;
   border-radius:5px;
   display:block;
   margin:10px auto;
   width: 100%;
}
@media (min-width: 768px) {
   .result-image {
      border-width: 15px;
      width: 80%;
   }
}

